body{
  margin:0;
  padding:0;
}
#head{
  background-color:#ccc;
  height:100px;
  width:100%;
  margin-top:0;
}
#hl{
  background-color:#3f6;
  margin:0;
  padding:0;
  float:left;
  width:200px;
  height:100px;
}
#body{
  background-color:#cff;
  margin:0 auto;
  padding:0;
  height:700px;
  width:800px;
}
#foot{
  background-color:#ccf;
  width:100%;
  height:100px;
}
h1{
  font-size:3em;
  padding-top:20px;
  margin-top:0;
}
hr{
	height:2px;
	border:none;
	border-top:2px dotted #185598;
}
#email{
  text-align:center;
  color:black;
  font-size:1em;
}
address{
  text-align:center;
  font-size:1.5em;
}
#mail{
	text-align:center;
}
#myphoto{
	width:300px;
	height:300px;
	background-color:#30f;
	float:left;
}
#myinfo{
	width:500px;
	height:300px;
	background-color:#ffc;
	float:right;
}
.myinfo{
  font-size:1.5em;
  color:black;
  padding:0;
  margin:0;
}
#more{
	text-align:center;
	margin-top:0;
}
#morep{
	font-size:1.25em;
	color:#39f;
	
}